body
    {
    margin: 20px;
    font-family: Segoe UI, Helvetica, Arial;
    font-size: 16px;
    }

#content
    {
    font-size: 16px;
    }

#footer
    {
    margin-top: 10px;
    padding: 10px;

    border-top: 1px solid silver;
    font-size: 12px;
    }